.aboutmecontainer{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items:center;
    flex-wrap: nowrap;
    background-color: #12384d;
}
.aboutmeimg{
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 50%;
}
.aboutmeimg img{
    width: 300px;
    display: inline-block;
    border-radius: 50%;
}
.aboutmeinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 10px;
}
.aboutmeinfo button{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: #82c988;
    color: aliceblue;
    border-radius: 10px;
}
.aboutmeinfo h1{
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #4CAF50;
}
.aboutmeinfo p{
    font-size: 25px;
    margin-top: -10px;
}
.aboutmeinfo span{
    text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #4CAF50;
}
.aboutmeinfo button{
    background-color: #4CAF50;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}