.myexperties{
    margin-top: 110px;
    z-index: 200;
    background-color:#205b7b;
    font-size: 20px;
}

.mybackdrop{
    height: 200px;
    width: 100%;
  max-width: 100vw;
  max-height: 300px;
  overflow: hidden;
  background-image: url('../../image/backdrop.jpeg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
}
.expertinfo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.expertinfo h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color:#82c988 ;
    
}
.expertinfo p{
    /* background-color: blueviolet; */
    padding: 0px 100px;
}
.expinfo{
    max-width: 100vw;
    text-align: center;
    margin-top: -20px;
}
.expertisediv{
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 20px;
   
}
.sld{
    padding: 10px;
    background-color: #e4cc2f;
    border-radius: 10px;
}
.sld img{
    border-radius: 50%;
}
.Design{
    max-width: 400px;
    text-align: center;
    background-color: #08377a;
    border-radius: 10px;
}
.Design h2{
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #82c988;
}
.Code{
    max-width: 400px;
    text-align: center;
    background-color: #26497a;
    border-radius: 10px;
}
.Code h2{
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #82c988;
}
.Tools{
    max-width: 400px;
    text-align: center;
    background-color: #145aba;
    border-radius: 10px;
}
.Tools h2{
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #82c988;
}